

<div class="col-xs-12 col-sm-12 pd-l-0 pd-r-0">
    <div class="col-xs-12 col-sm-6 pd-l-0-f signup-sidebar-css pd-t-50 pd-b-70">
        <div class="col-sm-12">
            <div class="pd-l-0">
                <h3 class="signup-title">Create New Account!</h3>
                <h5 class="signup-subtitle">It's free and only takes a minute.</h5>
                <h5 [style.display]="formErrorMessage != null ? 'block':'none'">{{formErrorMessage}}</h5>
                <form [formGroup]="authForm"  autocomplete="off" >
                    <div class="signup-form">
                        <div class="row">
                            <div class="col-sm-6 pd-l-xs-15 pd-l-0">
                                <div class="form-group" [ngClass]="{'has-error': formErrors.firstName}">
                                    <label>First name</label>
                                    <input type="text" class="form-control" placeholder="Enter your firstname" formControlName="firstName" value="">
                                    <div class="invalid-data" *ngIf="formErrors.terms">
                                        {{formErrors.firstName}}
                                    </div>
                                </div>
                            </div><!-- col -->
                            <div class="col-sm-6 pd-r-xs-15 pd-r-0">
                                <div class="form-group" id="validateEmailDiv" [ngClass]="{'has-error': formErrors.email}">
                                    <label>Email address</label>
                                    <input type="text" class="form-control" placeholder="Enter your email" formControlName="email" value="">
                                    <div class="invalid-data" *ngIf="formErrors.terms">
                                        {{formErrors.email}}
                                    </div>
                                    <div style="color:#a21318 !important" class="col-sm-12 pd-l-0-force" [style.display]="showEmailVerification ? 'block':'none'">
                                        Email is already in use.
                                    </div>

                                </div>
                            </div><!-- col -->
                        </div><!-- row -->

                        <div class="row mg-b-5">
                            <div formGroupName="passwordGroup">

                                <div class="col-sm-6 pd-l-xs-15 pd-l-0">

                                    <div class="form-group" [ngClass]="{'has-error': formErrors.password}">
                                        <label>Password</label>
                                        <input type="password"  autocomplete="new-password" class="form-control" placeholder="Enter your password" formControlName="password" value="" (focus)="showErrors()" (focusout)="hideErrors()">
                                        <div class="invalid-data" *ngIf="formErrors.terms">
                                            {{formErrors.password}}
                                        </div>
                                        <div class="col-sm-12 pd-l-0" *ngIf="(authType == 'register')" [style.display]="showErrorsPassword ? 'block':'none'">
                                            <label class="col mg-t-5" [ngClass]="authForm.controls['passwordGroup'].controls['password'].hasError('required') || authForm.controls['passwordGroup'].controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
                                                <i class="material-icons">
                                                    {{ authForm.controls['passwordGroup'].controls['password'].hasError('required') || authForm.controls['passwordGroup'].controls['password'].hasError('minlength') ? 'cancel' :  'check_circle' }}
                                                </i>
                                                Must be at least 8 characters!
                                            </label>
                                            <label class="col" [ngClass]="authForm.controls['passwordGroup'].controls['password'].hasError('required') || authForm.controls['passwordGroup'].controls['password'].hasError('maxlength')  ? 'text-danger' : 'text-success'">
                                                <i class="material-icons">
                                                    {{ authForm.controls['passwordGroup'].controls['password'].hasError('required') || authForm.controls['passwordGroup'].controls['password'].hasError('maxlength') ? 'cancel' :  'check_circle' }}
                                                </i>
                                                Must be less than 20 characters!
                                            </label>
                                            <label class="col" [ngClass]="authForm.controls['passwordGroup'].controls['password'].hasError('required') || authForm.controls['passwordGroup'].controls['password'].hasError('number')  ? 'text-danger' : 'text-success'">
                                                <i class="material-icons">
                                                    {{ authForm.controls['passwordGroup'].controls['password'].hasError('required') || authForm.controls['passwordGroup'].controls['password'].hasError('number') ? 'cancel' : 'check_circle'}}
                                                </i>
                                                Must contain at least 1 number!
                                            </label>

                                            <label class="col" [ngClass]="authForm.controls['passwordGroup'].controls['password'].hasError('required') || authForm.controls['passwordGroup'].controls['password'].hasError('upperLetter')  ? 'text-danger' : 'text-success'">
                                                <i class="material-icons">
                                                    {{ authForm.controls['passwordGroup'].controls['password'].hasError('required') ||  authForm.controls['passwordGroup'].controls['password'].hasError('upperLetter') ? 'cancel' :  'check_circle'   }}
                                                </i>
                                                Must contain at least 1 in Capital Case!
                                            </label>

                                            <label class="col" [ngClass]="authForm.controls['passwordGroup'].controls['password'].hasError('required') || authForm.controls['passwordGroup'].controls['password'].hasError('lowerLetter')  ? 'text-danger' : 'text-success'">
                                                <i class="material-icons">
                                                    {{ authForm.controls['passwordGroup'].controls['password'].hasError('required') || authForm.controls['passwordGroup'].controls['password'].hasError('lowerLetter') ? 'cancel' :  'check_circle'  }}
                                                </i>
                                                Must contain at least 1 Letter in Small Case!
                                            </label>

                                            <label class="col" [ngClass]="authForm.controls['passwordGroup'].controls['password'].hasError('required') || authForm.controls['passwordGroup'].controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
                                                <i class="material-icons">
                                                    {{ authForm.controls['passwordGroup'].controls['password'].hasError('required') || authForm.controls['passwordGroup'].controls['password'].hasError('hasSpecialCharacters') ? 'cancel' : 'check_circle' }}
                                                </i>
                                                Must contain at least 1 Special Character!
                                            </label>

                                        </div>

                                    </div>
                                </div><!-- col -->
                                <div class="col-sm-6 pd-r-xs-15 pd-r-0">
                                    <div class="form-group" [ngClass]="{'has-error': formErrors.confirmPassword || formErrors.passwordGroup}">
                                        <label>Confirm Password</label>
                                        <input type="password" class="form-control" placeholder="Enter your password" formControlName="confirmPassword" value="">
                                        <div class="invalid-data" *ngIf="formErrors.terms">
                                            {{  formErrors.confirmPassword ? formErrors.confirmPassword : formErrors.passwordGroup  }}
                                        </div>
                                    </div>
                                </div><!-- col -->
                            </div><!-- row -->
                        </div><!-- row -->
                        <div class="form-group mg-b-30">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="agree">
                                <label class="custom-control-label tx-sm" for="agree">I have read and agree to your <a routerLink="/terms">Terms and Conditions</a></label>
                            </div>
                        </div>

                        <div class="form-group d-flex mg-b-0">
                            <button class="btn btn-brand-01 btn-uppercase btn-block" style="width: 100%; padding-top: 0px;">Create New Account</button>
                        </div>


                        <!--<div class="d-flex">
                <a href="dashboard-one.html" class="btn btn-facebook btn-uppercase flex-fill">Facebook</a>
                <a href="dashboard-one.html" class="btn btn-twitter btn-uppercase flex-fill mg-l-10">Twitter</a>
                <a href="dashboard-one.html" class="btn btn-danger btn-uppercase flex-fill mg-l-10">Google</a>
            </div>-->
                    </div>
                </form>
                <div class="divider-text mg-y-30 mg-b-5-f">Or signup with</div>


                <p class="mg-t-auto mg-b-0 tx-color-03 mg-l-5-f">Already have an account? <a routerLink="/login">Signin</a></p>
            </div><!-- signup-sidebar-body -->
        </div>


    </div><!-- signup-sidebar -->
    <div class="col-xs-12 col-sm-6 hidden-xs overlay-image pd-l-0 pd-r-0" style="background:#f9f9fd">

        <div class="content align-item-center register-left pd-b-200" style="margin:0 auto;">
            <h3 class="pd-xs-l-40 pd-t-50 pd-sm-l-70 pd-l-100 pd-xs-r-80 pd-sm-r-110 pd-r-150">Welcome to WCR National</h3>
            <p class="pd-xs-l-40 pd-sm-l-5 pd-l-5 pd-xs-r-80 pd-sm-r-20 pd-r-150 text-center" style="color: rgba(55, 56, 87, 0.6);  font-size: 16px;">Aroma wings est doppio black et fair trade seasonal breve. Cortado organic coffee, single shot, roast cappuccino mocha single origin doppio. Half and half.</p>

            <img src="AngularAssociate/assets/images/registration.png" />
        </div>

    </div>
</div><!-- signup-panel -->
