<style>
    .inner_content {
        background: #fff;
        color: #666;
    }
</style>
<div class="fullrow inner_content pd-b-100" > 
    <div class="container" style="">

        <div class="row">

            <!--<div class="col-xs-12 col-sm-12 pd-t-50-f">
            <div id="info" class="pd-l-0-f pd-sm-l-35-f">
                <p style="font-size: 17px; font-weight: 400; color: #2b2b2b;">
                    Consumer user details<br />
                </p>
            </div>
        </div>-->
            <div class="col-xs-12 col-sm-6">
                <h2 class="tx-color-01 pd-l-50 float-left mg-t-7-f pd-b-30-f">Bookmarked List</h2>
            </div>
        </div>

        <div class="row">

            <ngb-tabset #ctdTabset="ngbTabset">
                <ngb-tab id="bookmarkSalesTabId">
                    <ng-template ngbTabTitle><b (click)="GetSalesAdvFromTabs('1')">WCR SALES BOOKMARKS</b></ng-template>
                    <ng-template ngbTabContent>

                        <div class="pd-t-60">

                            <div class="row ">
                                <div class="col-sm-12" [style.display]="isDataNotFoundForSalesBookmarks ? 'block':'none'" style=" margin: 0 auto; text-align: center;">
                                    <img src="AngularAssociate/assets/images/noDataFound.png" style="width: 30%;" />
                                    <h4 class="ts-text-color-light">WCR Sales bookmark are not available !!!</h4>
                                </div>
                                <div class="col-sm-12" id="innerHtmlListHomeSalesBookmarksId" [style.display]="!isTabSalesBookmarkStart ? 'block':'none'">
                                </div>
                            </div>

                            <div class="row" [style.display]="isTabSalesBookmarkStart ? 'block':'none' ">
                                <div class="col-md-12" style="height:200px; padding-top: 100px;">
                                    <div class="col-xs-3 col-sm-offset-3 col-sm-6 div-center">
                                        <div class="progress" style="top:50%;">
                                            <div class="indeterminate"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    
                    </ng-template>
                </ngb-tab>

                <ngb-tab title="" id="bookmarkServicesTabId">
                    <ng-template ngbTabTitle><b (click)="GetSalesAdvFromTabs('2')">WCR SERVICES BOOKMARKS</b></ng-template>
                    <ng-template ngbTabContent>

                        <div class="pd-t-60">

                            <div class="row ">
                                <div class="col-sm-12" [style.display]="isDataNotFoundForServicesBookmarks ? 'block':'none'" style=" margin: 0 auto; text-align: center;">
                                    <img src="AngularAssociate/assets/images/noDataFound.png" style="width: 30%;" />
                                    <h4 class="ts-text-color-light">WCR Services bookmark are not available !!!</h4>
                                </div>
                                <div class="col-sm-12" id="innerHtmlListHomeServicesBookmarksId" [style.display]="!isTabServicesBookmarkStart ? 'block':'none'">
                                </div>
                            </div>

                            <div class="row" [style.display]="isTabServicesBookmarkStart ? 'block':'none' ">
                                <div class="col-md-12" style="height:200px; padding-top: 100px;">
                                    <div class="col-xs-3 col-sm-offset-3 col-sm-6 div-center">
                                        <div class="progress" style="top:50%;">
                                            <div class="indeterminate"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </ng-template>
                </ngb-tab>
            </ngb-tabset>

        </div>
    </div>
</div>