
<style>
    .table a {
        color: #090bfc !important;
    }
</style>

<div class="content-header justify-content-between pd-b-20-f">
    <div>
        <div aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Pages</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Purchase Zip Codes</a>
                </li>
            </ol>
        </div>
        <h4 class="content-title content-title-xs">Purchase Zip Codes</h4>
        <h5 class="mg-t-30">
            <strong> Use this page to purchase specific zip codes in which to advertise your services to potential clients and customers.</strong>
        </h5>
        <p>
            Purchasing a zip code is done in 3 easy steps.
        </p>
        <ol>
            <li>
                <strong> Choose a zip code to advertise </strong>
                <br />
                Enter the City and State where you would like to advertise your services and then click the 'SEARCH' button.  The system will display what zip codes are available in that City/State.  (You can also search by a specific zip code if you have already decided on a specific zip code)
                <br />
            </li>
            <li>
                <strong> Select a Category </strong>
                <br />
                Categories that are available for purchase in your selected zip code will be displayed.
                Once you select a category, our price rate will also be displayed.
                <br />
            </li>
            <li>
                Click the
                <strong> 'PURCHASE' </strong> button to complete your purchase.
            </li>

        </ol>
        <p> And that's it.</p>
    </div>
</div><!-- content-header -->

<div class="content-body">
    <div class="row row-sm">

        <div id="aoa55a92" class="aoa_overlay" [style.display]="overlayLoadingOnPurchase ? 'block' : 'none'">
            <div class="aoa_object">
                <div class="col-12 col-sm-12">
                    <div class="col-xs-3 col-sm-offset-3 col-sm-6 div-center">
                        <div class="progress" style="top:30%;">
                            <div class="indeterminate"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-xs-12 col-sm-12">
            <div class="col-12 col-xs-12 col-sm-8 col-xl-8">
                <div class="card card-hover card-analytics-one">
                    <div class="card-body">
                        <div class="row row-sm">
                            <div class="col-sm-12 col-md-12">
                                <label class="tx-medium tx-14 tx-color-01 mg-b-2">Your Current Zip Code Purchase Details</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent ht-127">
                        <div class="row no-gutters">
                            <div class="col-12 col-xs-12 col-sm-12">
                                <div class="col-4 col-xs-4 col-sm-4">
                                    <div class="d-flex align-items-baseline mg-b-5">
                                        <h4 class="tx-numeric tx-normal">
                                            <span id="lblPurchasedZipCodes">{{totalNoOfPurchasedItems}}</span>
                                        </h4>
                                        <!--<span class="card-value-sub tx-success"><i class="icon ion-android-arrow-up"></i> 3.8%</span>-->
                                    </div>
                                    <h5 class="card-title tx-primary">Items Purchased</h5>
                                    <label class="content-label content-label-xs">Total count of items purchased</label>
                                </div><!-- col -->
                                <div class="col-4 col-xs-4 col-sm-4">
                                    <div class="d-flex align-items-baseline mg-b-5">
                                        <h4 class="tx-numeric tx-normal">
                                            <span id="lblTotalamount">{{totalPurchasedAmount}}</span>
                                        </h4>
                                        <!--<span class="card-value-sub tx-danger"><i class="icon ion-android-arrow-down"></i> 0.3%</span>-->
                                    </div>
                                    <h5 class="card-title tx-pink">Total Amount</h5>

                                    <label class="content-label content-label-xs">Total amount due at the start of next billing cycle</label>
                                </div><!-- col -->
                                <div class="col-4 col-xs-4 col-sm-4">
                                    <div class="d-flex align-items-baseline mg-b-5">
                                        <h4 class="tx-numeric tx-normal">
                                            <span id="lblBillingDate">{{nextBillingCycleStart}}</span>
                                        </h4>
                                        <!--<span class="card-value-sub tx-danger"><i class="icon ion-android-arrow-down"></i> 0.3%</span>-->
                                    </div>
                                    <h5 class="card-title tx-teal">Next billing</h5>
                                    <label class="content-label content-label-xs">Next billing cycle starts </label>
                                </div><!-- col -->
                            </div>
                        </div><!-- row -->
                    </div><!-- card-footer -->
                </div><!-- card -->
            </div>

            <div class="col-12 col-xs-12 col-sm-4 col-xl-4 ht-186">

                <div class="card ht-100p overflow-hidden card-hover card-project-pink">
                    <!--<div class="marker pos-absolute t-10 l-10">Card Marker</div>-->

                    <div class="card-body" style="padding:22px;">
                        <span class="badge bg-danger tx-white"><i class="fas fa-fw fa-info-circle tx-14"></i> Warning Note:</span>
                        <h5 class="card-title pd-t-20">A maximum limit of 10 Zip Code/Service Category purchases is allowed</h5>
                        <h5 class="card-title">Zip code rates vary depending on population.</h5>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-12 col-xs-12 col-sm-12">
            <div class="col-md-12 col-xl-12 mg-t-15 mg-sm-t-20">
                <div class="card card-hover card-connection-one">

                    <div class="card-header">
                        <h4 class="card-title mg-b-0">
                            <i class="fas fa-fw fa-plus"></i>Purchase New Zip Code
                        </h4>
                    </div>

                    <div class="pd-30-f">
                        <form [formGroup]="searchForm" autocomplete="off" class="pd-t-20">
                            <fieldset>

                                <ngb-tabset #ctdTabset="ngbTabset">
                                    <ngb-tab id="zipCodeTabId">
                                        <ng-template ngbTabTitle><b (click)="onClickTabZipCode()">By Zip Code</b></ng-template>
                                        <ng-template ngbTabContent>

                                            <div class="pd-t-60">
                                                <div class="row ">
                                                    <div class="col-sm-12 has-error">
                                                        <p class="red-text">{{formErrorMessageSearch}}</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 col-xs-12 col-sm-12">
                                                        <div class="col-xl-4 col-sm-4 col-xs-12 ">
                                                            <!--(change)="changeZipCodeSearch()"-->
                                                            <input type="text" aria-label="Zip Code" class="form-control" formControlName="zipCode" placeholder="Zip Code" />
                                                        </div>

                                                        <div class="col-xl-4 col-sm-4 col-xs-12 ">
                                                            <button type="button" class="btn btn-primary btn-block ht-50-f" (click)="onClickBtnSearchZipCode()" [disabled]="isSearchingStart">Search</button>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mg-t-20-f" [style.display]="!isSearchingStart ? 'block':'none' ">
                                                    <div class="col-12 col-xs-12 col-sm-12">
                                                        <!--<div class="col-12 col-xl-12 col-sm-12 col-xs-12 " [style.display]="divShowCategorySearch ? 'block': 'none'">
                                                        <p> Your search criteria returned the following zip code(s): </p>
                                                    </div>-->
                                                        <!--<div class="col-12 col-xl-6 col-sm-6 col-xs-12 " [style.display]="divShowCategorySearch ? 'block': 'none'">
                                                        <ng-select [items]="zipCodeSearchData" [(ngModel)]="startValueZipCodeSearch" (ngModelChange)="changeZipCodeSearch()" formControlName="zipCodeSearch" [searchable]="false"> </ng-select>
                                                    </div>-->
                                                        <!--<div class="col-12 col-xs-6 col-sm-6"></div>-->
                                                        <div class="col-xl-6 col-sm-6 col-xs-12 " [style.display]="divShowCategorySearch ? 'block': 'none'">
                                                            <ng-select [items]="categorySearchData" [(ngModel)]="startValueCategorySearch" (ngModelChange)="changeCategorySearch()" formControlName="categorySearch" [searchable]="false"> </ng-select>
                                                        </div>
                                                        <!--[style.display]="divShowSubCategorySearch ? 'block': 'none'"-->
                                                        <div class="col-xl-6 col-sm-6 col-xs-12" style="display:none;">
                                                            <ng-select [items]="subCategorySearchData" [(ngModel)]="startValueSubCategorySearch" (ngModelChange)="changeSubCategorySearch()" formControlName="subCategorySearch" [searchable]="false"> </ng-select>
                                                        </div>
                                                    </div>


                                                </div>

                                                <div class="row" [style.display]="isSearchingStart ? 'block':'none' ">
                                                    <div class="col-md-12" style="height:200px; padding-top: 100px;">
                                                        <div class="col-xs-3 col-sm-offset-3 col-sm-6 div-center">
                                                            <div class="progress" style="top:50%;">
                                                                <div class="indeterminate"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </ng-template>
                                    </ngb-tab>

                                    <ngb-tab title="" id="cityStateTabId" [disabled]="true">
                                        <ng-template ngbTabTitle><b (click)="onClickTabCityState()">By City & State</b></ng-template>
                                        <ng-template ngbTabContent>

                                            <div class="">
                                                <div class="row" [style.display]="showOnLoadState ? 'block':'none' ">
                                                    <div class="col-12 col-sm-12" style="height:200px; padding-top: 100px;">
                                                        <div class="col-xs-3 col-sm-offset-3 col-sm-6 div-center">
                                                            <div class="progress" style="top:30%;">
                                                                <div class="indeterminate"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row pd-t-60" [style.display]="!showOnLoadState ? 'block':'none' ">
                                                    <div class="col-sm-12">
                                                        <p class="has-error">{{formErrorMessageSearch}}</p>
                                                    </div>
                                                    <div class="col-12 col-xs-12 col-sm-12">
                                                    </div>
                                                    <div class="col-xl-4 col-sm-4 col-xs-12 ">
                                                        <input type="text" aria-label="city" class="form-control" style="position:relative;" formControlName="city" placeholder="City" (change)="changeCitySearch()" />
                                                        <div class="preloader-wrapper preloader-wrapper-input small active" style="position: absolute; right: 28px; top: 12px;">
                                                            <div class="spinner-layer spinner-green-only"
                                                                 [style.display]="showOnSearchState ? 'block': 'none'">
                                                                <div class="circle-clipper left">
                                                                    <div class="circle"></div>
                                                                </div>
                                                                <div class="gap-patch">
                                                                    <div class="circle"></div>
                                                                </div>
                                                                <div class="circle-clipper right">
                                                                    <div class="circle"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-4 col-sm-4 col-xs-12 ">
                                                        <ng-select [items]="stateSearchData" [(ngModel)]="startValueState" (ngModelChange)="changeStateSearch()" formControlName="state" [searchable]="false"> </ng-select>
                                                    </div>
                                                    <div class="col-xl-4 col-sm-4 col-xs-12 ">
                                                        <button type="button" class="btn btn-primary btn-block ht-50-f" (click)="onClickBtnSearchCityState()" [disabled]="isSearchingStartCS">Search</button>
                                                    </div>

                                                </div>
                                                <div class="row" [style.display]="isSearchingStartCS ? 'block':'none' ">
                                                    <div class="col-12 col-sm-12" style="height:200px; padding-top: 100px;">
                                                        <div class="col-xs-3 col-sm-offset-3 col-sm-6 div-center">
                                                            <div class="progress" style="top:30%;">
                                                                <div class="indeterminate"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" [style.display]="!isSearchingStartCS ? 'block':'none' ">
                                                    <div class="col-12 col-xl-12 col-sm-12 col-xs-12 " [style.display]="divShowZipCodeCS ? 'block': 'none'">
                                                        <p> Your search criteria returned the following zip code(s): </p>
                                                    </div>
                                                    <div class="col-12 col-xl-6 col-sm-6 col-xs-6 " [style.display]="divShowZipCodeCS ? 'block': 'none'">
                                                        <ng-select [items]="zipCodeSearchCSData" [(ngModel)]="startValueZipCodeSearchCS" (ngModelChange)="changeZipCodeSearchCS()" formControlName="zipCodeSearchCS" [searchable]="false"> </ng-select>
                                                    </div>
                                                    <div class="col-12 col-xs-6 col-sm-6"></div>
                                                    <div class="col-12 col-xl-6 col-sm-6 col-xs-12 " [style.display]="divShowCategorySearchCS ? 'block': 'none'">
                                                        <ng-select [items]="categorySearchCSData" [(ngModel)]="startValueCategorySearchCS" (ngModelChange)="changeCategorySearchCS()" formControlName="categorySearchCS" [searchable]="false"> </ng-select>
                                                    </div>
                                                    <div class="col-12 col-xl-6 col-sm-6 col-xs-12 " [style.display]="divShowSubCategorySearchCS ? 'block': 'none'">
                                                        <ng-select [items]="subCategorySearchCSData" [(ngModel)]="startValueSubCategorySearchCS" (ngModelChange)="changeSubCategorySearchCS()" formControlName="subCategorySearchCS" [searchable]="false"> </ng-select>
                                                    </div>
                                                </div>
                                            </div>

                                        </ng-template>
                                    </ngb-tab>



                                </ngb-tabset>

                            </fieldset>
                        </form>
                    </div>

                    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-xl-12 mg-t-15 mg-sm-t-20 aoa_wrap pd-l-30 pd-r-30" [style.display]="divShowTableSelectedSearch ? 'block': 'none'">



                        <div class="card card-hover card-deal shadow-none">
                            <div class="card-header bg-transparent bd-b-0">
                                <h6 class="card-title mg-b-0">Your Selected Choices:  </h6>
                            </div><!-- card-header -->
                            <div class="card-body pd-0">
                                <div class="table-responsive pd-l-0-f pd-r-0-f">
                                    <table id="searchedZipCodes" class="table" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th>Id </th>
                                                <th>Zip Code</th>
                                                <th>Category </th>
                                                <th>Subcategory </th>
                                                <th>Cost </th>
                                                <th>Category Id </th>
                                                <th>Sub Category Id </th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div><!-- table-responsive -->
                            </div><!-- card-body -->

                        </div><!-- card -->

                    </div>

                    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-xl-12 mg-t-15 mg-sm-t-20 pd-l-30 pd-r-30" [style.display]="divShowCurrentPurchasedZipCodes ? 'block':'none'">

                        <div class="card card-hover card-deal shadow-none">
                            <div class="card-header bg-transparent bd-b-0">
                                <h6 class="card-title mg-b-0">
                                    YOUR CURRENT ZIPCODE PURCHASES
                                </h6>
                            </div><!-- card-header -->
                            <div class="card-body pd-0">
                                <div class="table-responsive pd-l-0-f pd-r-0-f">
                                    <table id="allCurrentPurchasedZipCodes" class="table" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th>S.N </th>
                                                <th>Zip Code</th>
                                                <th>Category </th>
                                                <th>Subcategory </th>
                                                <th>Cost </th>
                                                <th>Cancel</th>
                                                <th>Sub Category ID</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div><!-- table-responsive -->
                            </div><!-- card-body -->
                            <!--<div class="card-footer bg-transparent">
                            <div class="col-lg-12 button-right-pos">
                                <input id="btnPurchase" type="button" class="btn btn-light" value="PURCHASE" />
                                <input id="btnPurchaseCancel" type="button" class="btn btn-light" value="CANCEL" />
                            </div>
                        </div>-->
                        </div><!-- card -->

                    </div>

                    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-xl-12 mg-t-15 mg-sm-t-20 mg-b-50 pd-l-30 pd-r-30">

                        <div class="card card-hover card-deal shadow-none">
                            <div class="card-header bg-transparent bd-b-0">
                                <!--<h6 class="card-title mg-b-0">All Purchased Zip Codes </h6>-->
                                <h6 class="card-title mg-b-0">
                                    YOUR CURRENT ZIPCODE PURCHASES
                                </h6>
                            </div>

                            <div class="card-body pd-0">
                                <div class="table-responsive pd-l-0-f pd-r-0-f">
                                    <table id="allPurchasedZipCodes" class="table" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th>id</th>
                                                <th>Zip Code</th>
                                                <th>Category </th>
                                                <!--<th>Sub Category </th>-->
                                                <th>Cost </th>
                                                <th>Cancel</th>
                                                <th>Sub Category ID</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>


