<style>
    .ck-editor__editable_inline {
        min-height: 200px !important;
    }

    .ck.ck-editor__editable_inline, .ck-editor__editable {
        min-height: 200px !important;
    }

    .table a {
        color: #090bfc !important;
    }
</style>

<div class="content-header justify-content-between pd-b-20-f">
    <div>
        <div aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item"><a href="#">List your properties</a></li>
            </ol>
        </div>

        <h4 class="content-title content-title-xs">Your Property Listings</h4>
        <h5 class="mg-t-30">
            <strong> Use  this page to advertise property listings to potential clients. </strong>
        </h5>
        <p>
            To begin, click on the blue 'Post A New Advertisement' button below to expand and enter your property listing information.
        </p>
        <h5 class="mg-t-30">
            <strong> Listing your property is done in 3 steps. </strong>
        </h5>

        <ol>
            <li>
                Load images of your property in the 'Primary Images' section.  A maximum of 4 images per property listing is allowed.
            </li>
            <li>
                Enter the listing title, price, description and additional features in the 'Overview & Additional Features' section
            </li>
            <li>Enter the property location by expanding the 'Location' section </li>

        </ol>
        <p>
            Once all the necessary information is entered, click <strong>'SUBMIT' </strong>to post your listing.
            That's it!!!
        </p>
    </div>
</div><!-- content-header -->

<div class="content-body">
    <div class="row row-sm">

        <div class="col-12 col-xl-12 col-xs-12 mg-b-20" style="display:none;">
            <h4 class="content-title content-title-xs">Sales Category Details</h4>
        </div>

        <div class="col-12  col-xl-12 col-xs-12 mg-b-20" style="display:none;">

            <div class="card card-hover card-task-one card-todo">

                <div class="card-header bg-transparent pd-y-15 pd-l-15 pd-r-10">
                    <h6 class="card-title mg-b-0">Your Current Sales Advertisement Segement Selections</h6>
                </div>

                <div class="card-body">
                    <div class="row">

                        <div class="col-sm-4 col-md-4">
                            <h6 class="card-title">Total Count</h6>
                            <div class="d-flex align-items-center justify-content-between mg-b-10">
                                <h1 class="card-value">{{totalCountOfItemsPurchased}} <span class="tx-success"></span></h1>

                            </div>
                            <p class="card-desc">Total count of items purchased. </p>
                        </div><!-- col -->

                        <div class="col-sm-4 col-md-4 mg-t-20 mg-sm-t-0">
                            <h6 class="card-title">Total Amount</h6>
                            <div class="d-flex align-items-center justify-content-between mg-b-10">
                                <h1 class="card-value">{{totalAmount}} <span class="tx-success"></span></h1>

                            </div>
                            <p class="card-desc">Total amount due at the start of next billing cycle.</p>
                        </div><!-- col -->

                        <div class="col-sm-4 col-md-4 mg-t-20 mg-md-t-0">
                            <h6 class="card-title">Next Billing Date</h6>
                            <div class="d-flex align-items-center justify-content-between mg-b-10">
                                <h1 class="card-value">{{monthlyBllingDate}} <span class="tx-color-03"></span></h1>
                            </div>
                            <p class="card-desc">Next billing starts at this date.</p>
                        </div><!-- col -->

                    </div><!-- row -->
                </div><!-- card-body -->
            </div>

        </div>

        <div class="col-12  col-xl-12 col-xs-12 mg-b-20" style="display:none;">

            <div class="card card-hover card-task-one card-todo">

                <div class="card-header bg-transparent pd-y-15 pd-l-15 pd-r-10">
                    <h6 class="card-title mg-b-0">Your Purchased Categories </h6>
                </div>

                <div class="card-body">
                    <div class="table-responsive pd-l-0-f pd-r-0-f">
                        <table id="ViewAllCategoriesPurchased" class="table">
                            <thead>
                                <tr>
                                    <th>S.N </th>
                                    <th>Category </th>
                                    <th>Subcategory </th>
                                    <th>Cost </th>
                                    <th>Cancel</th>
                                    <th>Zip Code</th>
                                    <th>Sub Category Id</th>
                                </tr>
                            </thead>
                        </table>
                    </div><!-- card-body -->
                </div>
            </div>

        </div>
        <!--[style.display]="purchaseNewCategories ? 'block': 'none'"-->

        <div class="col-12 col-xl-12 col-xs-12 mg-b-20" style="display:none;">
            <div class="card card-hover card-task-one card-todo">

                <div class="card-header bg-transparent pd-y-15 pd-l-15 pd-r-10">
                    <h6 class="card-title mg-b-0">Select Your Sales Category / Subcategory For Purchase </h6>
                </div>

                <div class="card-body">
                    <form [formGroup]="categorySearchForm" autocomplete="off" class="pd-t-20">
                        <div class="row">
                            <div class="col-12 col-xs-12 col-xl-12 col-sm-12">
                                <!--[style.display]="divShowCategorySearch ? 'block': 'none'"-->
                                <div class="col-xl-6 col-sm-6 col-xs-12 ">
                                    <div class="form-group">
                                        <label>
                                            Select Category
                                        </label>
                                        <!--<select2 [data]="stateData" [value]="startValueState" [width]="150" (valueChanged)="changeState($event)" formControlName="state"></select2>-->
                                        <ng-select [items]="categorySearchData" [(ngModel)]="startValueCategorySearch" (ngModelChange)="changeCategorySearch()" formControlName="categorySearch" [searchable]="false"> </ng-select>
                                    </div>
                                </div>
                                <!--[style.display]="divShowSubCategorySearch ? 'block': 'none'"-->
                                <div class="col-xl-6 col-sm-6 col-xs-12 ">
                                    <div class="form-group">
                                        <label>
                                            Select Sub Category
                                        </label>
                                        <!--<select2 [data]="stateData" [value]="startValueState" [width]="150" (valueChanged)="changeState($event)" formControlName="state"></select2>-->
                                        <ng-select [items]="subCategorySearchData" [(ngModel)]="startValueSubCategorySearch" (ngModelChange)="changeSubCategorySearch()" formControlName="subCategorySearch" [searchable]="false"> </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>

                    <div class="row">
                        <div class="col-12 col-sm-12 col-xl-12">
                            <div class="card no-shadow card-hover card-task-one card-todo">

                                <div class="card-header bg-transparent pd-y-15 pd-l-15 pd-r-10">
                                    <h6 class="card-title mg-b-0">Your Selected Choices For Purchase </h6>
                                </div>

                                <div class="card-body" style="display:none;">
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-xl-12">
                                            <div class="table-responsive pd-l-0-f pd-r-0-f">
                                                <table id="ViewRcd" class="table">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Category </th>
                                                            <th>Subcategory </th>
                                                            <th>Price </th>
                                                            <th>Puchase </th>
                                                            <th>Cancel </th>
                                                            <th>Zip Code </th>
                                                            <th>Category Id </th>
                                                            <th>Sub Category Id</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div><!-- card-body -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card no-shadow card-hover card-task-one card-todo">
                                <div class="card-header bg-transparent pd-y-15 pd-l-15 pd-r-10">
                                    <h6 class="card-title mg-b-0">View Purchased Record </h6>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-xl-12">
                                            <div class="table-responsive pd-l-0-f pd-r-0-f">
                                                <table id="ViewAllCategoriesPurchased" class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>S.N</th>
                                                            <th>Zip Code</th>
                                                            <th>Category </th>
                                                            <th>Subcategory </th>
                                                            <th>Cost </th>
                                                            <th>Cancel </th>
                                                            <th>Zip Code</th>
                                                            <th>Sub Category Id</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div><!-- card-body -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>



        <div class="col-12 col-xl-12 col-xs-12 mg-b-20 pd-l-0-f pd-r-0-f">

            <div class="col-sx-12 col-sm-8 col-md-8 col-xl-8 ht-127">
                <div class="card card-hover card-analytics-one">

                    <div class="card-body">
                        <div class="row row-sm">
                            <div class="col-sm-12 col-md-12">
                                <label class="tx-medium tx-14 tx-color-01 mg-b-2">Your Current Sales Advertisement</label>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer bg-transparent">
                        <div class="row no-gutters">

                            <div class="col-4 col-xs-4 col-sm-6">
                                <div class="d-flex align-items-baseline mg-b-5">
                                    <h4 class="tx-numeric tx-normal"><span id="lblPurchasedZipCodes">{{totalCountOfPostAdvertisementSA}}</span></h4>
                                    <!--<span class="card-value-sub tx-success"><i class="icon ion-android-arrow-up"></i> 3.8%</span>-->
                                </div>
                                <h5 class="card-title tx-primary">Items Purchased</h5>
                                <label class="content-label content-label-xs">Total count of post advertisement</label>
                            </div><!-- col -->

                            <div class="col-4 col-xs-4 col-sm-6">
                                <div class="d-flex align-items-baseline mg-b-5">
                                    <h4 class="tx-numeric tx-normal"> <span id="lblTotalamount">{{totalAmountSA}}</span></h4>
                                    <!--<span class="card-value-sub tx-danger"><i class="icon ion-android-arrow-down"></i> 0.3%</span>-->
                                </div>
                                <h5 class="card-title tx-pink">Total Amount</h5>

                                <label class="content-label content-label-xs">Total amount due at the start of next billing cycle</label>
                            </div><!-- col -->

                            <div class="col-4 col-xs-4 col-sm-6">
                                <div class="d-flex align-items-baseline mg-b-5">
                                    <h4 class="tx-numeric tx-normal"> <span id="lblBillingDate">{{nextBillingCycleStartSA}}</span></h4>
                                    <!--<span class="card-value-sub tx-danger"><i class="icon ion-android-arrow-down"></i> 0.3%</span>-->
                                </div>
                                <h5 class="card-title tx-teal">Next billing</h5>
                                <label class="content-label content-label-xs">Next billing cycle starts </label>
                            </div><!-- col -->

                        </div><!-- row -->
                    </div><!-- card-footer -->

                </div><!-- card -->
            </div>

            <div class="col-sx-12 col-sm-4 col-xl-4 ht-186">
                <div class="card card-hover card-event-one  card-project-three card-project-pink"  [ngClass]="{'card-project-green': isPostButtonGreen }">

                    <div class="card-body pd-t-50-f button-block1" (click)="onclickNewPurchase()">
                        <div class="event-logo bg-teal tx-white mg-b-15" [style.display]="!isPostAdvertisementFormVisible ? 'flex': 'none'">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus wd-20-f ht-25-f"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                        </div>

                        <h6 class="event-title" [style.display]="!isPostAdvertisementFormVisible ? 'block': 'none'"><a href="javascript:void(0);">Post A New Advertisement</a></h6>
                        <div class="event-logo bg-teal tx-white mg-b-15" style="background-color: #f39bc3;" [style.display]="isPostAdvertisementFormVisible ? 'flex': 'none'">
                           <span class="" style="font-size:46px;">-</span>
                        </div>
                        <h6 class="event-title" [style.display]="isPostAdvertisementFormVisible ? 'block': 'none'"><a href="javascript:void(0);">Cancel Your Selection</a></h6>

                    </div><!-- card-body -->

                </div>
            </div>


            <div id="loadingIconId" class="container card-body col-12 col-sm-12  mg-t-20" [style.display]="showLoadingIconOnEditClick ? 'block':'none' " style="height:200px; padding-top: 100px;">
                <div class="col-xs-3 col-sm-offset-3 col-sm-6 div-center">
                    <div class="progress" style="top:30%;">
                        <div class="indeterminate"></div>
                    </div>
                </div>
            </div>

            <div class="container card-body col-12 col-sm-12  mg-t-20" [style.display]="isPostAdvertisementFormVisible ? 'block':'none'">

                <!--[disabled]="(!isPostAdvertisementFormVisible)"-->
                <div class="card card-hover card-deal shadow-none">
                    <div class="card-header bg-transparent bd-b-0">
                        <div class="row">
                            <div class="col-12 col-xs-12 col-sm-12 mg-b-20">
                                <h3 class="tx-color-01 pd-l-0-f pd-sm-l-15-f float-left mg-t-7-f pd-b-30-f">Post Advertisement</h3>
                            </div>
                            <div class="col-12 col-xs-12 col-sm-12 mg-b-20">
                                <div class="card card-project-three card-project-pink red-border">
                                    <div class="card-body">
                                        <span class="badge bg-black-4 tx-15-f red-text tx-bold" style=" color: rgb(220 53 69); background:#fff; "><i class="fas fa-fw fa-info-circle tx-14"></i> Please Note:</span>

                                        <h5 class="tx-13 tx-gray-600">A maximum limit of 15 sales advertisement purchases is allowed.</h5>
                                        <h5 class="tx-13 tx-gray-600">
                                            <strong>
                                                A Sales Advertisement Posting fee of $10 <strong>{{labelPrice}}</strong> is charged for each advertisement submitted at the time of the submission.<br />
                                                A monthly $10 <span id="lblCatprice1">{{labelCategoryPrice}}</span> posting fee is charged at the beginning of each month afterwards for each advertisement that is still active.
                                            </strong>
                                        </h5>

                                    </div><!-- card-body -->
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-body pd-0">
                        <form [formGroup]="PostAdvertisement" autocomplete="off" class="pd-t-20">
                            <div>

                                <div class="col-12 col-sm-12 has-error" [style.display]="formErrorMessagePA != '' ? 'block': 'none'">{{formErrorMessagePA}}</div>

                                <div class="col-12 col-xs-12 col-sm-12 pd-l-0 pd-r-0 pd-sm-l-15 pd-sm-r-15">
                                    <input type="hidden" formControlName="advId" /><!--Advertisement data id return data from API ws/Sale.asmx/SelectAdvertisement-->

                                    <div class="col-xs-12 col-sm-12 pd-xs-l-0 pd-xs-r-0">

                                        <div class="card card-body">
                                            <div class="col-12 col-xs-12 col-sm-12 mg-b-20 pd-l-0 pd-sm-l-30 pd-r-0 pd-sm-r-30" id="select-yourdesired" [style.display]="isDesiredConsumerSegmentVisible ? 'block': 'none'">
                                                <div class="form-group">
                                                    <h4>
                                                        SELECT YOUR DESIRED CONSUMER SEGMENT(S)
                                                    </h4>

                                                    <ul class="custom-nav">
                                                        <li (click)="changeConsumerSegmentType('Home')"><a class="home-custom" href="javscript:void(0)" id="subCatHome"><img src="AngularAssociate/assets/images/icon_home.png" /><span>HOME </span></a></li>
                                                        <li (click)="changeConsumerSegmentType('Town')"><a class="home-custom" href="javscript:void(0)" id="subCatTownHome"><img src="AngularAssociate/assets/images/icon_home.png" /><span>TOWNHOME  </span></a></li>
                                                        <li (click)="changeConsumerSegmentType('Family')"><a class="multi-custom" href="javscript:void(0)" id="subCatMultiFamily"><img src="AngularAssociate/assets/images/icon_land_hover.png" /><span>MULTI-FAMILY </span></a></li>
                                                        <li (click)="changeConsumerSegmentType('Land')"><a class="land-custom" href="javscript:void(0)" id="subCatLand"><img src="AngularAssociate/assets/images/icon_group.png" /><span>LAND  </span></a></li>
                                                    </ul>
                                                </div>
                                                <div class="form-group" [ngClass]="{'has-error': formErrorsPA.subCat}">
                                                    <input type="hidden" class="form-control" formControlName="subCat" id="lblsubcat" />
                                                    <div class="col-sm-12 pd-l-0" *ngIf="formErrorsPA.subCat">
                                                        {{formErrorsPA.subCat}}
                                                    </div>
                                                </div>


                                            </div>

                                            <!--[style.display]="isConsumerSegmentAdvertisementVisible ? 'block' : 'none'"-->

                                            <div class="col-12 col-xs-12 col-sm-12 mg-b-20 pd-l-0 pd-sm-l-15 pd-r-0 pd-sm-r-15" style="display:none;">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <label class="hightlight-text" for="lblpTitle"></label>
                                                    </div>
                                                </div>
                                                <div class=" full-row form-horizontal ">
                                                    <div class="form-group">
                                                        <label class="col-sm-12" style="font-weight: normal">Select which consumer segment your wish to advertise in  </label>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-4">
                                                            <select class="form-control" id="SubCategory"></select>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-12 col-xs-12 col-sm-12 mg-b-20 pd-l-30 pd-sm-l-30 pd-r-30 pd-sm-r-30">
                                                <a class="btn btn-primary mg-t-20 mg-b-20" (click)="isCollapsedOpenImages = !isCollapsedOpenImages" [attr.aria-expanded]="!isCollapsedOpenImages" aria-controls="collapseOpenImages" style=" width: 100%; text-align: left; color:#fff !important;">1 - PRIMARY IMAGES</a>
                                                <div class="mg-t-5 collapse show" id="collapseOpenImages" [ngbCollapse]="isCollapsedOpenImages">
                                                    <!--[style.display]="isUploadImageVisible ? 'block' : 'none'"-->
                                                    <div class="col-12 col-xs-12 col-sm-12 mg-b-20   pd-l-0 pd-sm-l-15 pd-r-0 pd-sm-r-15">
                                                        <div class="form-group">


                                                            <!--[innerHTML]="uploadedAdvertisementImages"-->
                                                            <div class="col-12 col-xs-12 col-sm-12" id="previewImages">
                                                            </div>
                                                            <div class="col-12 col-xs-12 col-sm-12">
                                                                <h4>
                                                                    Upload Images
                                                                </h4>
                                                                <ul class="image-upload">
                                                                    <li>
                                                                        <div class="block-box full-row">
                                                                            <p>Upload Images  </p>
                                                                            <div id="image-holder">
                                                                                <img height="75" src="AngularAssociate/assets/images/imagebox.jpg">
                                                                            </div>
                                                                            <div class="custom-browse">
                                                                                <input type="file" class="form-control" (change)="onSelectFile($event, '0')" id="FileUpload1">
                                                                            </div>
                                                                        </div>
                                                                        <p>PRIMARY IMAGES</p>
                                                                    </li>
                                                                    <li>
                                                                        <div class="block-box full-row">
                                                                            <p>Upload Image </p>
                                                                            <div id="image-holder2">
                                                                                <img height="75" src="AngularAssociate/assets/images/imagebox.jpg">
                                                                            </div>
                                                                            <div class="custom-browse">
                                                                                <input type="file" class="form-control" (change)="onSelectFile($event, '1')" id="FileUpload2">
                                                                            </div>
                                                                        </div>
                                                                        <p>SECONDARY IMAGE </p>
                                                                    </li>
                                                                    <li>
                                                                        <div class="block-box full-row">
                                                                            <p>Upload Image  </p>
                                                                            <div id="image-holder3">
                                                                                <img height="75" src="AngularAssociate/assets/images/imagebox.jpg">
                                                                            </div>
                                                                            <div class="custom-browse">
                                                                                <input type="file" class="form-control" (change)="onSelectFile($event, '2')" id="FileUpload3">
                                                                            </div>
                                                                        </div>
                                                                        <p>ADDITIONAL IMAGE </p>
                                                                    </li>
                                                                    <li>
                                                                        <div class="block-box full-row">
                                                                            <p>Upload Image  </p>
                                                                            <div id="image-holder4">
                                                                                <img height="75" src="AngularAssociate/assets/images/imagebox.jpg">
                                                                            </div>
                                                                            <div class="custom-browse">
                                                                                <input type="file" class="form-control" (change)="onSelectFile($event, '3')" id="FileUpload4">
                                                                            </div>
                                                                        </div>
                                                                        <p>ADDITIONAL IMAGE </p>
                                                                    </li>
                                                                </ul>
                                                            </div>

                                                        </div>
                                                        <div class="form-group" [ngClass]="{'has-error': formErrorsPA.image}">
                                                            <input type="hidden" class="form-control" formControlName="image" id="img" />
                                                            <div class="col-sm-12 pd-l-0" *ngIf="formErrorsPA.image">
                                                                {{formErrorsPA.image}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <a class="btn btn-primary mg-b-20" (click)="isCollapsedOverviewAndAdditionalFeatures = !isCollapsedOverviewAndAdditionalFeatures" [attr.aria-expanded]="!isCollapsedOverviewAndAdditionalFeatures" aria-controls="collapseOverviewAndAF" style=" width: 100%; text-align: left; color:#fff !important;">2 - OVERVIEW & ADDITIONAL FEATURES</a>
                                                <div class="mg-t-5 collapse show" id="collapseOverviewAndAF" [ngbCollapse]="isCollapsedOverviewAndAdditionalFeatures">
                                                    <!--[style.display]="isOverviewAndAdditionalVisible ? 'block' : 'none'"-->
                                                    <div class="col-12 xol-xs-12 col-sm-12 mg-b-20  pd-l-0 pd-sm-l-15 pd-r-0 pd-sm-r-15">
                                                        <h4 class="pd-l-15 pd-r-15">
                                                            OverView & Additional Features
                                                        </h4>

                                                        <div class="col-12 xol-xs-12 col-sm-6 pd-l-0 pd-sm-l-15 pd-r-0 pd-sm-r-15">
                                                            <div class="form-group" [ngClass]="{'has-error': formErrorsPA.titlePA}">

                                                                <label>
                                                                    Title
                                                                </label>
                                                                <input id="title" type="text" class="form-control pd-l-0-force form-control" placeholder="Enter Title" formControlName="titlePA" (blur)="logValidationErrorsPA()">
                                                                <div class="col-sm-12 pd-l-0" *ngIf="formErrorsPA.titlePA">
                                                                    {{formErrorsPA.titlePA}}
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-12 col-xs-12 col-sm-6 pd-l-0 pd-sm-l-15 pd-r-0 pd-sm-r-15">
                                                            <div class="form-group" [ngClass]="{'has-error': formErrorsPA.pricePA}">

                                                                <label>
                                                                    Price ($)
                                                                </label>
                                                                <input id="price" type="text" class="form-control pd-l-0-force form-control" placeholder="Enter price as a whole dollar value" formControlName="pricePA" (blur)="logValidationErrorsPA()">
                                                                <div class="col-sm-12 pd-l-0" *ngIf="formErrorsPA.pricePA">
                                                                    {{formErrorsPA.pricePA}}
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-xs-12 col-sm-12  pd-l-0 pd-sm-l-15 pd-r-0 pd-sm-r-15">
                                                            <div class="form-group" [ngClass]="{'has-error': formErrorsPA.descPA}">

                                                                <label>
                                                                    Description
                                                                </label>
                                                                <textarea id="desc" type="text" class="form-control pd-l-0-force form-control" placeholder="Enter Description" formControlName="descPA" (blur)="logValidationErrorsPA()" rows="5"></textarea>
                                                                <div class="col-sm-12 pd-l-0" *ngIf="formErrorsPA.descPA">
                                                                    {{formErrorsPA.descPA}}
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-xs-12 col-sm-12  pd-l-0 pd-sm-l-15 pd-r-0 pd-sm-r-15">
                                                            <div class="form-group" [ngClass]="{'has-error': formErrorsPA.additionalFeature}">

                                                                <label>
                                                                    Additional Features
                                                                </label>
                                                                <ckeditor [editor]="editor" [data]="data" [config]="config" formControlName="additionalFeature"></ckeditor>
                                                                <!--<textarea id="desc" type="text" class="form-control pd-l-0-force form-control" placeholder="Enter Price" formControlName="desc" (blur)="logValidationErrors()" rows="10"></textarea>-->
                                                                <div class="col-sm-12 pd-l-0" *ngIf="formErrorsPA.additionalFeature">
                                                                    {{formErrorsPA.additionalFeature}}
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>


                                                <a class="btn btn-primary mg-b-20" (click)="isCollapsedLocation = !isCollapsedLocation" [attr.aria-expanded]="!isCollapsedLocation" aria-controls="collapseLocation" style=" width: 100%; text-align: left; color:#fff !important;">3 - Location</a>
                                                <div class="mg-t-5 collapse show" id="collapseLocation" [ngbCollapse]="isCollapsedLocation">
                                                    <!--[style.display]="isLocationAndAddressVisible ? 'block' : 'none' "-->
                                                    <div class="col-12 xol-xs-12 col-sm-12 mg-b-20  pd-l-0 pd-sm-l-15 pd-r-0 pd-sm-r-15">
                                                        <h3 class="pd-l-15 pd-r-15">
                                                            Location
                                                        </h3>
                                                        <h5 class="pd-l-15 pd-r-15">
                                                            Location & Address
                                                        </h5>

                                                        <div class="col-12 col-xs-12 col-sm-6  pd-l-0 pd-sm-l-15 pd-r-0 pd-sm-r-15">
                                                            <div class="form-group" [ngClass]="{'has-error': formErrorsPA.contactNoPA}">
                                                                <label>
                                                                    Contact No
                                                                </label>
                                                                <input id="contactNoPA" type="text" class="form-control pd-l-0-force form-control" placeholder="Enter Contact No" formControlName="contactNoPA" (blur)="logValidationErrorsPA()">
                                                                <div class="col-sm-12 pd-l-0" *ngIf="formErrorsPA.contactNoPA">
                                                                    {{formErrorsPA.contactNoPA}}
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-12 col-xs-12 col-sm-6  pd-l-0 pd-sm-l-15 pd-r-0 pd-sm-r-15">
                                                            <div class="form-group" [ngClass]="{'has-error': formErrorsPA.stAddressPA}">

                                                                <label>
                                                                    Street Address
                                                                </label>
                                                                <input id="stAddress" type="text" class="form-control pd-l-0-force form-control" placeholder="Enter Street Address" formControlName="stAddressPA" (blur)="logValidationErrorsPA()">
                                                                <div class="col-sm-12 pd-l-0" *ngIf="formErrorsPA.stAddressPA">
                                                                    {{formErrorsPA.stAddressPA}}
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-12 col-sm-12">
                                                                <div class="col-12 col-xs-12 col-sm-4  pd-l-0 pd-sm-l-15 pd-r-0 pd-sm-r-15">
                                                                    <div class="form-group" [ngClass]="{'has-error': formErrorsPA.cityPA}">

                                                                        <label>
                                                                            City
                                                                        </label>
                                                                        <input id="city" type="text" class="form-control pd-l-0-force form-control" placeholder="Enter City" formControlName="cityPA" (blur)="logValidationErrorsPA()">

                                                                        <div class="col-sm-12 pd-l-0" *ngIf="formErrorsPA.cityPA">
                                                                            {{formErrorsPA.cityPA}}
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-12 col-xs-12 col-sm-4  pd-l-0 pd-sm-l-15 pd-r-0 pd-sm-r-15">
                                                                    <div class="form-group" [ngClass]="{'has-error': formErrorsPA.statePA}">

                                                                        <label>
                                                                            State
                                                                        </label>
                                                                        <ng-select [items]="stateDataPA" [(ngModel)]="startValueStatePA" (ngModelChange)="changeStatePA()" formControlName="statePA" [searchable]="false"> </ng-select>

                                                                        <div class="col-sm-12 pd-l-0" *ngIf="formErrorsPA.statePA">
                                                                            {{formErrorsPA.statePA}}
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-12 col-xs-12 col-sm-4  pd-l-0 pd-sm-l-15 pd-r-0 pd-sm-r-15">
                                                                    <div class="form-group" [ngClass]="{'has-error': formErrorsPA.countryPA}">

                                                                        <label>
                                                                            Country
                                                                        </label>
                                                                        <input id="country" type="text" class="form-control pd-l-0-force form-control" placeholder="Enter Country" formControlName="countryPA" (blur)="logValidationErrorsPA()" disabled />

                                                                        <div class="col-sm-12 pd-l-0" *ngIf="formErrorsPA.countryPA">
                                                                            {{formErrorsPA.countryPA}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <div class="col-12 col-xs-12 col-sm-4  pd-l-0 pd-sm-l-15 pd-r-0 pd-sm-r-15">
                                                            <div class="form-group" [ngClass]="{'has-error': formErrorsPA.zipCodePA}">

                                                                <label>
                                                                    Zip Code
                                                                </label>
                                                                <ng-select [items]="zipCodeDataPA" [(ngModel)]="startValueZipCodePA" (ngModelChange)="changeZipCodePA()" formControlName="zipCodePA" [searchable]="false"> </ng-select>
                                                                <input type="hidden" formControlName="lblzipCodeprice" />
                                                                <div class="col-sm-12 pd-l-0" *ngIf="formErrorsPA.zipCodePA">
                                                                    {{formErrorsPA.zipCodePA}}
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>



                                            <div [style.display]="(isPostAdvertisementFormVisible) ? 'block':'none'" class="col-xs-12 col-sm-12 pd-l-30-f pd-r-0-f pull-xs-right pull-right mg-t-30">
                                                <div class="form-group">

                                                    <div class="col-xs-6 col-sm-2 mg-b-20 pd-r-0-f" [style.display]="isAddButtonPA ? 'block': 'none'">
                                                        <button [disabled]="!PostAdvertisement.valid" style="position:relative; width:100%;" class="btn btn-lg btn-primary pull-xs-right form-submit-button tx-sm-14-f  tx-xs-10-f" type="submit" (click)="submitPostForm()">
                                                            <span [style.display]="!isSubmittingPA ? 'block': 'none'">Submit</span>
                                                            <div class="preloader-wrapper preloader-wrapper-button small active" [style.display]="isSubmittingPA ? 'inline-block': 'none'" style="margin-top:4px;">
                                                                <div class="spinner-layer spinner-white-only">
                                                                    <div class="circle-clipper left">
                                                                        <div class="circle"></div>
                                                                    </div><div class="gap-patch">
                                                                        <div class="circle"></div>
                                                                    </div><div class="circle-clipper right">
                                                                        <div class="circle"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </button>

                                                    </div>

                                                    <div class="col-xs-6  col-sm-2 mg-b-20 pd-l-0-f pd-r-0-f" [style.display]="!isAddButtonPA ? 'block': 'none'">
                                                        <button [disabled]="!PostAdvertisement.valid" style="position:relative; width:100%;" class="btn btn-lg btn-primary pull-xs-right form-submit-button tx-sm-14-f  tx-xs-10-f" type="submit">
                                                            <span [style.display]="!isSubmittingPA ? 'block': 'none'" (click)="updatePostForm()">Update</span>
                                                            <div class="preloader-wrapper preloader-wrapper-button small active" [style.display]="isSubmittingPA ? 'inline-block': 'none'" style="margin-top:4px;">
                                                                <div class="spinner-layer spinner-white-only">
                                                                    <div class="circle-clipper left">
                                                                        <div class="circle"></div>
                                                                    </div><div class="gap-patch">
                                                                        <div class="circle"></div>
                                                                    </div><div class="circle-clipper right">
                                                                        <div class="circle"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </button>
                                                    </div>

                                                    <div class="col-xs-6  col-sm-2 mg-b-20" [style.display]="!isResetButtonVisible ? 'block': 'none'">
                                                        <button style="position:relative; width:100%;" class="btn btn-lg btn-primary pull-xs-right form-submit-button tx-sm-14-f  tx-xs-10-f" type="button">
                                                            <span (click)="resetPostForm()">Reset</span>
                                                        </button>
                                                    </div>

                                                    <div class="col-xs-3  col-sm-2 mg-b-20">
                                                        <button style="position:relative; width:100%;" class="btn btn-lg btn-primary pull-xs-right form-submit-button tx-sm-14-f  tx-xs-10-f" type="button" (click)="cancelPostForm()">
                                                            <span>Cancel</span>
                                                        </button>
                                                    </div>

                                                </div>
                                            </div>
                                        
                                        
                                        </div>



                                    </div>
                                </div>
                                <!--<div>Is my form  valid? {{PostAdvertisement.valid}}</div>-->
                                
                            </div>
                        </form>
                    </div>

                </div>

            </div>

            <div class="col-12 col-xs-12 col-sm-12 mg-t-20">
                <div class="card card-hover card-deal shadow-none">
                    <div class="card-header bg-transparent bd-b-0">
                        <h6 class="card-title mg-b-0">Sales Advertisement </h6>
                    </div>
                    <div class="card-body pd-0">
                        <div class="table-responsive pd-l-0-f pd-r-0-f">
                            <table id="salesAdvertisement" class="table">
                                <thead>
                                    <tr>
                                        <th>Adv ID </th>
                                        <th>Primary Image</th>
                                        <th>Category</th>
                                        <th>Sub-Category</th>
                                        <th>Advertisement Title</th>
                                        <th>Selling Price</th>
                                        <th>Cost</th>
                                        <th>Edit </th>
                                        <th>Delete </th>
                                    </tr>
                                </thead>
                            </table>
                        </div><!-- table-responsive -->
                    </div><!-- card-body -->

                </div><!-- card -->
            </div>

        </div>


        <div class="col-sm-12 dashboard-block" style="display:none;">
            <div class=" customebox full-row">
                <div class="form-group">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div id="Shop">
                            <table class="table table-condensed">
                                <tr>
                                    <td colspan="2" style="display: none">
                                        <%--Membership Plan:---%>
                                        <select name="select" id="MemberShip" style="visibility: hidden"></select>
                                        <br />
                                        <label style="visibility: hidden" for="lblCatPrice"></label>
                                        <br />
                                        <label for="lblToalAmount"></label>
                                        <br />
                                        <input type="text" id="CouponCode" placeholder="Do you have Coupon Code" style="display: none; width: 200px;" />&nbsp;&nbsp;&nbsp;&nbsp;<%--<a id="coponApply" style="text-decoration: none;">Apply</a>--%>
                                        <br />
                                        <label style="visibility: hidden;" for="lblcode"></label>
                                        <br />
                                        <label style="visibility: hidden" for="lblprice"></label>
                                        <br />
                                        <label style="visibility: hidden" for="lbldur"></label>
                                        <br />
                                        <br />
                                        <label for="lblToalAmount1" style="visibility: hidden"></label>
                                        <br />
                                        <label id="insertOrEdit" style="visibility: hidden"></label>

                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


