<div class="page-error">

    <div class="error-panel">
        <h2 href="dashboard-one.html" class="sidebar-logo mg-b-40"><span style="color: #3987fa;">WCR Nation Consumer Services</span></h2>

        <div class="svg-wrapper mg-b-40">
            <img src="AngularAssociate/assets/images/notfound.png">
        </div>
        <h1 class="tx-28 tx-sm-36 tx-numeric tx-md-40 tx-semibold">Comming Soon</h1>
        <h3 class="tx-16 tx-sm-18 tx-md-24 tx-light mg-b-20 mg-md-b-30">Please stay connected. </h3>
        <p class="tx-12 tx-sm-13 tx-md-14 tx-color-04">You may have mistyped the address or the page may have moved. Try searching below.</p>
    </div><!-- error-panel -->

</div>