<div class="content-header justify-content-between">
    <div>
        <div aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            </ol>
        </div>
        <h4 class="content-title content-title-xs">Welcome to Dashboard</h4>

    </div>
</div><!-- content-header -->

<div class="content-body">
    <div class="row row-sm">
        <div class="col-sm-4 col-xl">
            <div class="card card-hover card-social-one">
                <a class="card-body" href='ClientDetails.aspx'>
                    <div class="d-flex align-items-center justify-content-between mg-b-10">
                        <h1 class="card-value">{{interestedCustomers}}</h1>
                        <!--<div class="chart-wrapper">
                            <div id="flotChart1" class="flot-chart"></div>
                        </div>-->
                    </div>
                    <h5 class="card-title tx-primary">My Clients</h5>
                    <p class="card-desc">Total number of interested customers.</p>
                </a><!-- card-body -->
            </div><!-- card -->
        </div><!-- col -->
        <div class="col-sm-4 col-xl mg-t-15 mg-sm-t-0">
            <div class="card card-hover card-social-one">
                <a id="aPurchaseAdvertisement" class="card-body" href='PostAdvertisement.aspx?pid=1'>
                    <div class="d-flex align-items-center justify-content-between mg-b-10">
                        <h1 class="card-value">{{selectedCategories}}</h1>
                    </div>
                    <h5 class="card-title tx-pink">Selected Categories</h5>
                    <p id="pSubText" class="card-desc">Total number of categories selected.</p>
                </a><!-- card-body -->
            </div><!-- card -->
        </div><!-- col -->
        <div class="col-sm-4 col-xl mg-t-15 mg-sm-t-0">
            <div class="card card-hover card-social-one">
                <a class="card-body" href="PostAdvertisement.aspx?pid=1">
                    <div class="d-flex align-items-center justify-content-between mg-b-10">
                        <h1 class="card-value">{{myPropertyListings}}</h1>
                    </div>
                    <h5 class="card-title tx-teal">My Property Listings</h5>
                    <p class="card-desc">Total number of current Property Listings.</p>
                </a><!-- card-body -->
            </div><!-- card -->
        </div><!-- col -->
        <div class="col-sm-4 col-xl mg-t-15 mg-sm-t-0">
            <div class="card card-hover card-social-one">
                <a class="card-body" href="ZipCodePurchase.aspx">
                    <div class="d-flex align-items-center justify-content-between mg-b-10">
                        <h1 class="card-value">{{myZipCodes}}</h1>
                    </div>
                    <h5 class="card-title .tx-primary" style="">My Zip Codes</h5>
                    <p class="card-desc">Total number of zip codes.</p>
                </a><!-- card-body -->
            </div><!-- card -->
        </div><!-- col -->

    </div><!-- row -->

    <div class="row row-sm mg-t-30">
        <div class="col-sm-12 col-xl">
            <div class="card card-hover card-social-one">
                <div class="card-body">
                    <h5 class="card-title tx-primary">My Clients</h5>
                    <div class="table-responsive pd-l-0-f pd-r-0-f" #tableInterestedCustomers>
                        <table id="interestedCustomers" class="table">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Name</th>
                                    <th>Mobile No</th>
                                    <th>Email</th>
                                    <th>Title</th>
                                    <th>Category Name</th>
                                    <th>SubCategory</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                        </table>  
                    </div>
                </div><!-- card-body -->
            </div><!-- card -->
        </div>
    </div>

    <div class="row row-sm mg-t-30">
        <div class="col-sm-3  col-xl">
            <div class="card card-hover card-social-one">
                <div class="card-body">
                    <h5 class="card-title tx-primary">Selected Categories</h5>
                    <div  class="table-responsive pd-l-0-f pd-r-0-f" #tableSelectedCategories>
                        <table id="selectedCategories" class="table">
                            <thead>
                                <tr>
                                    <th>Category/ SubCategory</th>
                                </tr>
                            </thead>
                        </table>  
                    </div>
                </div><!-- card-body -->
            </div><!-- card -->
        </div>
         
        <div class="col-sm-5 col-xl">
            <div class="card card-hover card-social-one">
                <div class="card-body">
                    <h5 class="card-title tx-primary">My Property Listings</h5>
                    <div class="table-responsive pd-l-0-f pd-r-0-f" #tableMyPropertyListings>
                        <table id="myPropertyListings" class="table">
                            <thead>
                                <tr>
                                    <th>S.N</th>
                                    <th>Title</th>
                                    <th>Category Name</th>
                                    <th>Zip Code</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div><!-- card-body -->
            </div><!-- card -->
        </div>

        <div class="col-sm-4  col-xl">
            <div class="card card-hover card-social-one">
                <div class="card-body">
                    <h5 class="card-title tx-primary">My Zip Codes</h5>
                    <div  class="table-responsive pd-l-0-f pd-r-0-f">
                        <table id="myZipCode" class="table">
                            <thead>
                                <tr>
                                    <th>Zip Code</th>
                                    <th>category Name</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div><!-- card-body -->
            </div><!-- card -->
        </div>
    </div>

</div><!-- content-body -->