<div id="divLandingPage" class="parallax" data-background="AngularAssociate/assets/images/background.jpg" data-color="#0e3a6b" data-color-opacity="0.5" data-img-width="2500" data-img-height="1600">
    <!--  ../../../assets/images/home-parallax-2.jpg -->
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align:center;">

                <div class="search-container">

                    <!-- Form -->
                    <h2> Grow Your Business</h2>
                    <div class="adv-search-btn">
                        Wcr Organisation is the best solution to make you succeed online. <br>
                        Starting with online advertising or managing monthly.
                    </div>

                    <!-- Row With Forms -->
                    <div class="row with-forms search-background">
                        <!-- Main Search Input -->
                        <div class="col-md-12" [formGroup]="searchForm" style="margin: 0 auto; text-align:center; align-item:center; float:none;">

                            <div class="main-search-input">
                                <input type="text" formControlName="txtSearch" placeholder="Enter address e.g. street, city or state" value="" (keyup.enter)="onPressEnterSearchData()" />
                                <button class="button waves-effect waves-light btn" (click)="onClickSearch()">
                                    <i class="large material-icons form-control-feedback text-xs-27 pd-t-9-force">search</i>
                                </button>
                            </div>
                            <div class="invalid-data" *ngIf="formErrors.txtSearch">
                                {{formErrors.txtSearch}}
                            </div>
                        </div>
                        <!--<div class="col-sm-12 mg-b-20">
                            <input placeholder="Activation code" id="activationCode" type="text" class="form-control pd-l-45-force" formControlName="activationCode" (blur)="logValidationErrors()">
                            <span class="large material-icons form-control-feedback icon">vpn_key</span>
                            <div class="invalid-data" *ngIf="formErrors.activationCode">
                                {{formErrors.activationCode}}
                            </div>
                            <span class="grey-text text-darken-1 tx-medium" *ngIf="authType == 'activate'" [style.display]="activationSent ? 'block':'none'">Activation code has been resend to your registered Email.</span>

                        </div>-->
                    </div>
                    <!-- Row With Forms / End -->
                    <!-- Browse Jobs -->
                    <!-- Announce -->
                    <div class="announce">
                        We’ve 1000s of ads!
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>


<!-- Fullwidth Section -->
<section id="salesServicesDivId" class="fullwidth border-bottom margin-top-0 margin-bottom-0 padding-top-50 padding-bottom-50" style='background-color:#fff;border-top: 5px solid #0e3a6b;' #divSalesServices>

    <!-- Content -->
    <div class="container">

        <!---->
        <div class="row" [style.display]="isSearchingStart ? 'block':'none' ">
            <div class="col-md-12" style="height:400px; padding-top: 150px;">
                <div class="col-xs-3 col-md-4 div-center">
                    <div class="progress" style="top:50%;">
                        <div class="indeterminate"></div>
                    </div>
                </div>
            </div>
        </div>


        <!--<div class="row" [style.display]="ifError"></div>-->
        <div class="row" [style.display]="resultContent ? 'block':'none' ">
            <div class="col-md-12">
                <div class="col-sm-12 text-center">
                    <div class="red-text text-darken-4 tx-medium" style="float:none;">{{errorMessage}}</div>
                </div>
                <div class="row text-xs-center text-center mg-t-30 mg-b-50">
                    <div class="col-md-12">
                        <h2 class="theme-text-color text-center">GET ACCESS TO WCR SALES</h2>
                        <p class="grey-text">
                            This is just a simple text made for this unique and awesome template, you can replace it with any text.
                        </p>
                    </div>
                </div>
                <div class="row" [innerHTML]="innerHtmlSales"> </div>

                <div class="row text-xs-center text-center mg-b-50 mg-t-60 pd-t-30" style="border-top: 1px solid #eee;">
                    <div class="col-md-12">
                        <h2 class="theme-text-color text-center">GET ACCESS TO WCR SERVICES</h2>
                        <p class="grey-text">
                            This is just a simple text made for this unique and awesome template, you can replace it with any text.
                        </p>
                    </div>
                </div>
                <div class="row" [innerHTML]="innerHtmlServices"></div>
            </div>
        </div>

    </div>

</section>
<!-- Fullwidth Section / End -->