<!--<p>Category works</p>-->
<!--<app-category></app-category>-->

<!--<div class="container">
    <mat-card-content>
        <div class="row">
            <form class="col s12" [formGroup]="purchaseForm" (ngSubmit)="onFormSubmit(purchaseForm.value)">
                <div class="row">

                    <div class="input-field col s6 m6">
                        <mat-form-field>
                            <mat-label>Select Category</mat-label>
                            <mat-select formControlName="CategoryID">
                                <mat-option *ngFor="let category of allCategoriesObservable | async" value='{{category.CategoryID}},{{category.CategoryName}},{{category.CategoryPrice}}'>
                                    {{category.CategoryName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="input-field col s6 m6">
                        <mat-form-field>
                            <mat-label>Select City/State</mat-label>
                            <mat-select formControlName="Location">
                                <mat-option *ngFor="let cityObj of allCityStateZipCodeData | async" value='{{cityObj.City}},{{cityObj.State}}'>
                                    {{cityObj.City}} , {{cityObj.State}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="input-field col s6 m6">
                        <mat-form-field>
                            <mat-label>Select ZipCode</mat-label>
                            <mat-select formControlName="ZipCode">

                                <mat-option *ngFor="let zipCode of allCityStateZipCodeData | async" value='{{zipCode.Zip}}'>
                                    {{zipCode.Zip}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>
                <div class="row">
                    <div class="col s12">
                        <button class="btn waves-effect waves-button-input" type="submit" name="action" [disabled]="!purchaseForm.valid">
                            Submit
                        </button>

                        <button type="reset" class="btn waves-effect waves-gray" style="margin-left:5px;" color="accent" matTooltip="Click Reset Button" (click)="resetForm()">Reset</button>
                        <p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold" Class="success" align="left">
                            {{massage}}
                        </p>
                    </div>

                </div>
            </form>
        </div>
        <hr>

        <form>
            <table class="table striped">
                <tr ngclass="btn-primary">
                    <th class="tbl2">Category ID</th>
                    <th class="tbl2">Category Name</th>
                    <th class="tbl2">Zip Code</th>
                    <th class="tbl2">City</th>
                    <th class="tbl2">State</th>
                    <th class="tbl2">Charge Amount</th>
                </tr>
                <tr *ngFor="let purchase of allPurchases | async">
                    <td class="tbl2">{{purchase.CategoryID}}</td>
                    <td class="tbl2">{{purchase.CategoryName}}</td>
                    <td class="tbl2">{{purchase.ZipCode}}</td>
                    <td class="tbl2">{{purchase.City}}</td>
                    <td class="tbl2">{{purchase.State}}</td>
                    <td class="tbl2">{{purchase.ChargeAmount}}</td>

                </tr>
            </table>
        </form>
    </mat-card-content>
</div>
<br><br>-->


<!--(ngSubmit)="onFormSubmit(employeeForm.value)"-->