<div class="content-header justify-content-between">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Events &amp; Social Media</li>
            </ol>
        </nav>
        <h4 class="content-title content-title-xs">Client Details</h4>

    </div>
</div><!-- content-header -->

<div class="content-body">
    <div class="row row-sm">
        <div class="col-sm-4 col-xl">
            <div class="card card-hover card-social-one">
                <a class="card-body" href='ClientDetails.aspx'>
                    <div class="d-flex align-items-center justify-content-between mg-b-10">
                        <h1 class="card-value">{{salesCount}}</h1>
                        <!--<div class="chart-wrapper">
                            <div id="flotChart1" class="flot-chart"></div>
                        </div>-->
                    </div>
                    <h5 class="card-title tx-primary">Total Sales</h5>
                    <p class="card-desc">Clients showing interest in your Sales.</p>
                </a><!-- card-body -->
            </div><!-- card -->
        </div><!-- col -->
        <div class="col-sm-4 col-xl mg-t-15 mg-sm-t-0">
            <div class="card card-hover card-social-one">
                <a id="aPurchaseAdvertisement" class="card-body" href='PostAdvertisement.aspx?pid=1'>
                    <div class="d-flex align-items-center justify-content-between mg-b-10">
                        <h1 class="card-value">{{servicesCount}}</h1>
                    </div>
                    <h5 class="card-title tx-pink">Total Services</h5>
                    <p id="pSubText" class="card-desc">Clients showing interest in your Services.</p>
                </a><!-- card-body -->
            </div><!-- card -->
        </div><!-- col -->
        <div class="col-sm-4 col-xl mg-t-15 mg-sm-t-0">
            <div class="card card-hover card-social-one">
                <a class="card-body" href="PostAdvertisement.aspx?pid=1">
                    <div class="d-flex align-items-center justify-content-between mg-b-10">
                        <h1 class="card-value">{{TotalCount}}</h1>
                    </div>
                    <h5 class="card-title tx-teal">Total Services & Sales</h5>
                    <p class="card-desc">Clients showing interest in your Services & sales.</p>
                </a><!-- card-body -->
            </div><!-- card -->
        </div><!-- col -->

    </div><!-- row -->

    <div class="row row-sm mg-t-30">
        <div class="col-sm-12 col-xl">
            <div class="card card-hover card-social-one">
                <div class="card-body">
                    <h5 class="card-title tx-primary">Sales</h5>
                    <div class="table-responsive pd-l-0-f pd-r-0-f" #tableSales>
                        <table id="sales" class="table table-bordered">
                            <thead>
                                <tr>

                                    <th>Name</th>
                                    <th>Mobile No</th>
                                    <th>Email</th>
                                    <th>Title</th>
                                    <th>Category Name</th>
                                    <th>Sub Category</th>

                                </tr>
                            </thead>
                        </table>  
                    </div>
                </div><!-- card-body -->
            </div><!-- card -->
        </div>
    </div>

    <div class="row row-sm mg-t-30">
        <div class="col-sm-3 col-xl">
            <div class="card card-hover card-social-one">
                <div class="card-body"> 
                    <h5 class="card-title tx-primary">Services</h5>
                    <p>{{showSuccessMessage}}</p>
                    <div class="table-responsive pd-l-0-f pd-r-0-f" #tableServices>
                        <table id="services" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Mobile No</th>
                                    <th>Email</th>
                                    <th>Zip Code</th>
                                    <th>Category Name</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    
                </div><!-- card-body -->
            </div><!-- card -->
        </div>
    </div>
</div><!-- content-body -->