<div class="auth-page">
    <div class="container page">
        <div class="row mg-t-50">
            <div class="col-md-6 offset-md-3 col-xs-12 card pd-40">
                <div class="row">
                    <h1 class="text-xs-center">{{ title }}</h1>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
                        <div class="loader-wrap" id="LoadingImageLogin" [hidden]="!isSubmitting">
                            <div class="loader"><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span></div>
                        </div>
                    </div>
                    <p class="text-xs-center">
                        <a [routerLink]="['/login']" *ngIf="authType == 'register'">Don't have an account? Sign up now!</a>
                        <a [routerLink]="['/register']" *ngIf="authType == 'login'">Already have an account? Sign in!</a>
                    <p> Activation code was sent to the Email address that was supplied for this account</p>

                    </p>
                    <form [formGroup]="authForm" (ngSubmit)="submitForm()">
                        <fieldset [disabled]="isSubmitting">

                            <span *ngIf="authType == 'activate'" [style.display]="resentCode ? 'display':'none'">
                                Activation code was sent to the Email address that was supplied for this account
                            </span>

                            <div class="form-group" [ngClass]="{'has-error': formErrors.activationCode}"
                                 *ngIf="authType == 'activate'">
                                <div class="col-sm-12">
                                    <input id="activationCode" type="text" class="form-control" formControlName="activationCode" (blur)="logValidationErrors()">
                                    <span class="help-block" *ngIf="formErrors.activationCode">
                                        {{formErrors.activationCode}}
                                    </span>
                                    <span *ngIf="authType == 'activate'">Activation code has been send to your registered Email.</span>

                                </div>
                            </div>

                            <div class="form-group" *ngIf="authType == 'activate'">
                                <span class="help-block" *ngIf="formErrors.loginCredentials">
                                    Resend New Activation Code: <button (click)="onClickResendVerificationCode()">Resend</button>
                                    If you experience problems activating your account,
                                    please forward your activation code email to support@wcrnational.com
                                    Our support team will complete your account activation within 24-48 hours.
                                </span>
                            </div>

                            <div class="form-group">
                                <span [style.display]="resetPassword ? 'display':'none'">
                                    Please check your registered emailID for new password.
                                </span>
                            </div>

                            <div class="form-group" [ngClass]="{'has-error': formErrors.email}"
                                 *ngIf="(authType == 'register' || authType == 'login' || authType == 'activate' || authType == 'resetPassword')"
                                 [style.display]="resetPassword ? 'none': 'display'">
                                <div class="col-sm-12">
                                    <input id="email" type="text" class="form-control" formControlName="email" (blur)="logValidationErrors()">
                                    <span class="help-block" *ngIf="formErrors.email">
                                        {{formErrors.email}}
                                    </span>
                                </div>
                            </div>

                            <div formGroupName="emailGroup">
                                <div class="form-group" [ngClass]="{'has-error': formErrors.password}"
                                     *ngIf="(authType == 'register' || authType == 'login') ">
                                    <div class="col-sm-12">
                                        <input id="password" type="text" class="form-control" formControlName="password" (blur)="logValidationErrors()">
                                        <span class="help-block" *ngIf="formErrors.password">
                                            {{formErrors.password}}
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group" [ngClass]="{'has-error': formErrors.confirmPassword || formErrors.passwordGroup}"
                                     *ngIf="(authType == 'register') ">
                                    <div class="col-sm-12">
                                        <input id="confirmPassword" type="text" class="form-control"
                                               formControlName="confirmPassword" (blur)="logValidationErrors()">
                                        <span class="help-block"
                                              *ngIf="formErrors.confirmPassword || formErrors.passwordGroup">
                                            {{  formErrors.confirmPassword ? formErrors.confirmPassword : formErrors.passwordGroup  }}
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" [ngClass]="{'has-error': formErrors.associate}" *ngIf="authType == 'register'  ">
                                <div class="col-sm-12">
                                    <label>
                                        <input type="checkbox" class="filled-in" formControlName="associate" (blur)="logValidationErrors()" checked="checked" />
                                        <span>Yes- I want to advertise</span>
                                    </label>
                                    <span class="help-block" *ngIf="formErrors.associate">
                                        {{formErrors.associate}}
                                    </span>
                                </div>
                            </div>

                            <div class="form-group" [ngClass]="{'has-error': formErrors.consumer}" *ngIf="authType == 'register'  ">
                                <div class="col-sm-12">
                                    <label>
                                        <input type="checkbox" class="filled-in" formControlName="consumer" (blur)="logValidationErrors()" checked="checked" />
                                        <span>No- I do not</span>
                                    </label>
                                    <span class="help-block" *ngIf="formErrors.consumer">
                                        {{formErrors.consumer}}
                                    </span>
                                </div>
                            </div>

                            <div class="form-group" [ngClass]="{'has-error': formErrors.terms}" *ngIf="(authType == 'register') ">
                                <div class="col-sm-12">
                                    <label>
                                        <input type="checkbox" class="filled-in" formControlName="terms" (blur)="logValidationErrors()" checked="checked" />
                                        <span>I agree with terms and conditions<a></a></span>
                                    </label>
                                    <span class="help-block" *ngIf="formErrors.terms">
                                        {{formErrors.terms}}
                                    </span>
                                </div>
                            </div>

                            <div class="form-group" *ngIf="authType == 'login'">
                                <span class="help-block" *ngIf="formErrors.credentials">
                                    {{formErrors.loginCredentials}}
                                </span>
                            </div>

                            <!--  -->
                            <button class="btn btn-lg btn-primary pull-xs-right form-submit-button" *ngIf="(authType == 'register')" type="submit" [disabled]="!authForm.valid">
                                CREATE AN ACCOUNT
                            </button>

                            <button class="btn btn-lg btn-primary pull-xs-right form-submit-button" *ngIf="(authType == 'login')" type="submit" [disabled]="!authForm.valid">
                                SIGN TO MY ACCOUNT
                            </button>

                            <button class="btn btn-lg btn-primary pull-xs-right form-submit-button" *ngIf="(authType != 'activate')" type="submit" [disabled]="!authForm.valid">
                                VERIFY
                            </button>

                            <button class="btn btn-lg btn-primary pull-xs-right form-submit-button" *ngIf="(authType != 'resetPassword')" type="submit" [disabled]="!authForm.valid">
                                RESET PASSWORD
                            </button>
                        </fieldset>
                    </form>
                </div>

                <div class="row mg-t-60" *ngIf="authType == 'login'">
                    <a [routerLink]="['/resetPassword']" class="text-xs-right"> <i class="fa fa-key"></i>Forgot password</a>
                </div>
                <!--<div class="row mg-t-60 text-center" *ngIf="authType == 'register'">
                    <small>
                        By clicking the "Create an Account" button you agree with our
                        <button [routerLink]="['/resetPassword']" class="btn waves-ripple blue-grey lighten-5 blue-grey-text text-accent-4">Terms And Conditions</button>
                    </small>
                </div>-->
            </div>
        </div>
    </div>
</div>
