<div class="dark-body">
    <div id="login-page">
        <div class="center-container">

            <div class="center-item">
                <div class="resi-login-logo"><img src="../../../../assets/img/resident-logo.png" class="resi-logo" alt="Resident Login" /></div>
                <div class="welcome-login">
                    <h1 class="welcome-heading">{{'This is a password protected area.'|translate}}</h1>
                    <p>{{'Please contact Resident support if you believe this is an error.'|translate}}
                    </p>
                </div>
                <div class="ui black button large" (click)="goBack()">{{'Go Back'|translate}}</div>
                <p class="choice-indicator small">
                    <span class="small-notice"><a class="cursor" (click)="doLogout()">{{'Logout' | translate}}</a></span></p>
            </div>
        </div>
    </div>
</div>