<div class="dark-body">
	<div id="login-page">
		<div class="center-container">

			<div class="center-item">
				<div class="resi-login-logo"><img src="../../../../assets/img/resident-logo.png" class="resi-logo" alt="Resident Login" /></div>
				<div class="welcome-login">
					<h1 class="welcome-heading">{{'Something has gone wrong...'|translate}}</h1>
					<p>{{'The page you are looking for was moved, removed, renamed or might never have existed.'|translate}}</p>
				</div>
				<div class="ui black button large"><a routerLink="/dashboard">{{'Your Dashboard'|translate}}</a></div>
			</div>

		</div>
	</div>
</div>