<style>
    .ts-block {
        padding-bottom: 4rem;
        padding-top: 4rem;
    }

    .ts-text-color-primary {
        color: #00f;
    }

    .ts-text-color-light {
        color: rgba(0, 0, 0, .5);
    }
</style>

<div class="row">
    <div id="titlebar" class="property-titlebar margin-bottom-0">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="property-title">
                        <h2>Sales Advertisements</h2>
                    </div>

                    <!--<div class="property-pricing">
                        <div class="property-price">{{cost}}</div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content
================================================== -->
<div class="container-fluid" style="background-color:#fff;">

    <div class="row">
        <div class="col-xs-12 col-sm-2 mg-t-50 mg-b-100" style="border: 1px solid rgb(0 0 0 / 13%); text-align:center; height:350px; ">
            <h4 class="vertical-center" style="color: #204876;">Google AdSense</h4>
        </div>

        <section id="submitted" class="col-xs-12 col-md-8 ts-block mg-t-50 mg-b-100 pd-t-0-force" >
            <div class="row">
                <ngb-tabset #ctdTabset="ngbTabset">
                    <ngb-tab id="homeTabId">
                        <ng-template ngbTabTitle><b (click)="GetSalesAdvFromTabs('1')">By Home</b></ng-template>
                        <ng-template ngbTabContent>

                            <div class="pd-t-60">
                                <div class="row ">
                                    <div class="col-sm-12" [style.display]="isDataNotFoundForHome ? 'block':'none'" style=" margin: 0 auto; text-align: center;">
                                        <img src="AngularAssociate/assets/images/noDataFound.png" style="width: 30%;" />
                                        <h4 class="ts-text-color-light">Home sales advertisements are not available !!!</h4>
                                    </div>
                                    <div class="col-sm-12" id="innerHtmlListHomeSalesId"  [style.display]="!isTabHomeStart ? 'block':'none'">

                                    </div>
                                </div>

                                <div class="row" [style.display]="isTabHomeStart ? 'block':'none' ">
                                    <div class="col-md-12" style="height:200px; padding-top: 100px;">
                                        <div class="col-xs-3 col-sm-offset-3 col-sm-6 div-center">
                                            <div class="progress" style="top:50%;">
                                                <div class="indeterminate"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </ng-template>
                    </ngb-tab>

                    <ngb-tab title="" id="townHomeTabId">
                        <ng-template ngbTabTitle><b (click)="GetSalesAdvFromTabs('2')">By TownHome</b></ng-template>
                        <ng-template ngbTabContent>

                            <div class="pd-t-60" >
                                <div class="row ">
                                    <div class="col-sm-12" [style.display]="isDataNotFoundForTownHome ? 'block':'none'" style=" margin: 0 auto; text-align: center;">
                                        <img src="AngularAssociate/assets/images/noDataFound.png" style="width: 30%;" />
                                        <h4 class="ts-text-color-light">TownHome sales advertisements are not available !!!</h4>
                                    </div>
                                    <div class="col-sm-12" id="innerHtmlListTownHomeSalesId" [style.display]="!isTabTownHomeStart ? 'block':'none'">

                                    </div>
                                </div>
                                <div class="row" [style.display]="isTabTownHomeStart ? 'block':'none' ">
                                    <div class="col-12 col-sm-12" style="height:200px; padding-top: 100px;">
                                        <div class="col-xs-3 col-sm-offset-3 col-sm-6 div-center">
                                            <div class="progress" style="top:30%;">
                                                <div class="indeterminate"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </ng-template>
                    </ngb-tab>

                    <ngb-tab title="" id="multiFamilyTabId">
                        <ng-template ngbTabTitle><b (click)="GetSalesAdvFromTabs('3')">By Multi-Family</b></ng-template>
                        <ng-template ngbTabContent>

                            <div class="pd-t-60" >
                                <div class="row ">
                                    <div class="col-sm-12" [style.display]="isDataNotFoundForMultiFamily ? 'block':'none'" style=" margin: 0 auto; text-align: center;">
                                        <img src="AngularAssociate/assets/images/noDataFound.png" style="width: 30%;" />
                                        <h4 class="ts-text-color-light">Multi-Family sales advertisements are not available !!!</h4>
                                    </div>
                                    <div class="col-sm-12" id="innerHtmlListMultiFamilySalesId" [style.display]="!isMultiFamilyStartCS ? 'block':'none'">

                                    </div>
                                </div>
                                <div class="row" [style.display]="isMultiFamilyStartCS ? 'block':'none' ">
                                    <div class="col-12 col-sm-12" style="height:200px; padding-top: 100px;">
                                        <div class="col-xs-3 col-sm-offset-3 col-sm-6 div-center">
                                            <div class="progress" style="top:30%;">
                                                <div class="indeterminate"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </ng-template>
                    </ngb-tab>

                    <ngb-tab title="" id="landTabId">
                        <ng-template ngbTabTitle><b (click)="GetSalesAdvFromTabs('4')">By Land</b></ng-template>
                        <ng-template ngbTabContent>

                            <div class="pd-t-60" >
                                <div class="row ">
                                    <div class="col-sm-12" [style.display]="isDataNotFoundForLand ? 'block':'none'"    style=" margin: 0 auto; text-align: center;">
                                        <img src="AngularAssociate/assets/images/noDataFound.png" style="width: 30%;" />
                                        <h4 class="ts-text-color-light">Land sales advertisements are not available !!!</h4>
                                    </div>
                                    <div class="col-sm-12" id="innerHtmlListLandSalesId" [style.display]="!isTabLandStart ? 'block':'none'">

                                    </div>
                                </div>
                                <div class="row" [style.display]="isTabLandStart ? 'block':'none' ">
                                    <div class="col-12 col-sm-12" style="height:200px; padding-top: 100px;">
                                        <div class="col-xs-3 col-sm-offset-3 col-sm-6 div-center">
                                            <div class="progress" style="top:30%;">
                                                <div class="indeterminate"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </ng-template>
                    </ngb-tab>

                </ngb-tabset>

            </div>
        </section>

        <div class="col-xs-12 col-sm-2 mg-t-50 mg-b-100" style="border: 1px solid rgb(0 0 0 / 13%); text-align:center; height:350px; ">
            <h4 class="vertical-center" style="color: #204876;">laGoogle AdSense</h4>
        </div>

    </div>
</div>



<!--<div class="listing-item">

    <a href="javascript:void(0)" class="listing-img-container">


        <div class="listing-img-content">
            <span class="listing-price">$ {{cost}} <i></i></span>

        </div>

        <div class="listing-carousel">
            <div *ngIf=' item.advMainImage == undefined && item.advMainImage != null && item.advMainImage != "" '><img src='../../../../Associate/Adv_img/" + item.advMainImage + \"' \" alt=''></div>
            <div *ngIf=' item.advImage1 == undefined && item.advImage1 != null && item.advImage1 != "" '><img src='../../../../Associate/Adv_img/" + item.advImage1 + \"' \" alt=''></div>
            <div *ngIf=' item.advImage2 == undefined && item.advImage2 != null && item.advImage2 != "" '><img src='../../../../Associate/Adv_img/" + item.advImage2 + \"' \" alt=''></div>
            <div *ngIf=' item.advImage3 == undefined && item.advImage3 != null && item.advImage3 != "" '><img src='../../../../Associate/Adv_img/" + item.advImage3 + \"' \" alt=''></div>
        </div>
    </a>

    <div class="listing-content">

        <div class="listing-title">
            <h4><a href="single-property-page-1.html">{{item.title}}</a></h4>
            <a href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom" class="listing-address popup-gmaps">
                <i class="fa fa-map-marker"></i>
                {{item.address + ". " + item.CityID + ", " + item.StateID}}
            </a>

            <a href="javascript:void(0)" class="details button border">Details</a>
            <div *ngIf="item.description.length > 150"> {{ item.description.substring(0, 150) + "..." }}</div>
            <div *ngIf="item.description.length < 150"> {{ item.description }} </div>

        </div>

        <ul class="listing-details">
            <li> License # {{item.LicenseId}}</li>
            <li>  Associate ID: {{item.associateid}}</li>
            <li *ngIf="item.subcategoryID == '1'"> Category Name: Home</li>
            <li *ngIf="item.subcategoryID == '2'"> Category Name: Town Home </li>
            <li *ngIf="item.subcategoryID == '3'"> Category Name: Multi Family</li>
            <li *ngIf="item.subcategoryID == '4'"> Category Name: Land</li>

        </ul>

        <div class="listing-footer">
            {{ item.advertisementID + "," + item.associateID + ",1,0," + count }}
            <a href="javascript:void(0)" class="btn button border" (click)="ContactAssociate('')">Contact Associates</a>
            <span>Zip Code: {{item.zipCode}}</span>
            <a id="bookMarkId{{item.advertisementID}}" href="javascript:void(0)" class="btn button border" (click)="SaveBookmark(item.advertisementID)">Bookmark</a>
        </div>
        {{ count+1 }}
    </div>

</div>-->
